* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

header div {
    background-color: rgb(26, 92, 6);
    height: 50px;
}

a {
    color: rgb(255, 0, 0);
    text-decoration: none;
}

div {
    height: 895px;
    background-color: rgb(255, 3, 3);
}